html,
body {
  padding: 0;
  margin: 0;
  background-color: #444;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background-color: #444;
  }
}

.azul {
  background-color: lightblue;
  color: "#000";
}

.vermelho {
  background-color: lightcoral;
  color: "#000";
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}